@import "tailwindcss";
@font-face {
  font-family: Lilita One;
  src: url("../../public/font/LilitaOne-Regular.ttf");
}

@theme {
  --color-sand: #fdfce3;
  --color-sand-light: #eff8fd;
  --color-caramel: #130909;
  --color-beige: #f6cb9e;
  --color-dark-brown: #2b100d;
  --color-yellow-orange: #ffb635;
  --color-orange: #f77c17;
  --font-lilita: "Lilita One", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
