@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lilita+One&display=swap");
@import "tailwindcss";
@font-face {
  font-family: Lilita One;
  src: url("../../public/font/LilitaOne-Regular.ttf");
}

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-luckiest: "Luckiest Guy", sans-serif;
  --color-sand: #fdfce3;
  --color-sand-light: #eff8fd;
  --color-caramel: #130909;
  --color-beige: #f6cb9e;
  --color-dark-brown: #2b100d;
  --color-yellow-orange: #ffb635;
  --color-yellow-landing: #ffcb45;
  --color-orange: #f77c17;
  --color-sand-landing: #ffe499;
  --color-sand-landing-white: #ffedac;
  --color-orange-landing: #e4a950;
  --color-orange-button: #f09514;
  --color-orange-dark: #7c2d00;
  --font-lilita: "Lilita One", sans-serif;
  --breakpoint-0-5xl: 70rem;
  --breakpoint-1xl: 85rem;
  --breakpoint-2-4xl: 90rem;
  --breakpoint-2-5xl: 100rem;
  --breakpoint-3xl: 125rem;
  --breakpoint-4xl: 140rem;
}

@layer utilities {
  .shine-effect::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -75%;
    width: 25%;
    height: 200%;
    background: white;
    opacity: 0.55;
    transform: rotate(12deg);
    pointer-events: none;
  }

  .shine-effect-hover:hover::before {
    animation: shine-glide 1s ease;
  }

  .shine-effect-loop::before {
    animation: shine-glide 1s ease-in-out infinite;
  }

  @keyframes shine-glide {
    0% {
      transform: translateX(400%) translateY(200%) rotate(-45deg);
    }
    100% {
      transform: translateX(450%) translateY(-100%) rotate(-45deg);
    }
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.text-outline-white {
  text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
}
.text-outline-orange {
  text-shadow: -0.5px -0.5px 0 orange, 0.5px -0.5px 0 orange, -0.5px 0.5px 0 orange, 0.5px 0.5px 0 orange;
}
