.auth-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 10rem;
    background-image: url('/images/backgrounds/backgroundAuth.png');
    background-size: cover;
    background-position: center;
}

.coffre-image {
    position: fixed;
    bottom: 0rem;
    z-index: 50;
    width: 12rem;
    left: 50%;
    transform: translateX(30%);
}
.overlay-logo {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}
.decor-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleX(1.02);
}

.auth-content {
    position: relative;
    background-color: #FFB635;
    padding: 2rem;
    padding-top: 7rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    border-left: 2px solid #FCEEA9;
    border-right: 2px solid #FCEEA9;
    border-bottom: 2px solid #FCEEA9;
    --ring: #D7B189;
    --border: #D7B189;
}
